{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Cambia Password{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h3 class="mb-3">Cambia la tua password</h3>

          <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary w-100 mt-3">Aggiorna Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
